<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4 col-md-offset-2 col-sm-6">
    <div class="form-group">
      <label>Photo</label>
      <div class="photo-upload-container empty">
        <div class="dummy"></div>
        <div class="photo-container-box">
          <div class="photo-container" data-i="1">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:first_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
          <div class="photo-container hidden" data-i="2">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden"><p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:second_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
          <div class="photo-container hidden" data-i="3">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:third_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
          <div class="photo-container hidden" data-i="4">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:fourth_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "세상에서 제일 멋진 물건", maxlength: "40", size: "40" %>
    </div>
    <div class="form-group" id="departments">
      <%= f.label :department %>
      <select class="form-control" name="item[department]" id="item_department">
        <option value="">카테고리를 선택해 주세요</option>
        <option value="Women">Women</option>
        <option value="Men">Men</option>
        <option value="Kids">Kids</option>
        <option value="Baby">Baby</option>
        <option value="Home">Home</option>
        <option value="Health &amp; Beauty">Health &amp; Beauty</option>
        <option value="Sports &amp; Outdoor">Sports &amp; Outdoor</option>
        <option value="Electronics &amp; Games">Electronics &amp; Games</option>
        <option value="Hobbies &amp; DIY">Hobbies &amp; DIY</option>
        <option value="Movies &amp; Music">Movies &amp; Music</option>
        <option value="Books">Books</option>
        <option value="Unisex">Unisex</option>
        <option value="Tools">Tools</option>
      </select>
    </div>
    <div class="form-group sr-only" id="categories">
      <%= f.label :category %>
      <select class="form-control" name="item[subcategory]" id="item_subcategory">
        <option value="">Select a subcategory</option>
      </select>
    </div>
    <div class="form-group">
      <%= f.label :desc %>
      <%= f.text_area :desc, class: "form-control", rows: 6, placeholder: "물건에 대한 간략한 설명을 적어주세요." %>
    </div>
    <div class="form-group sr-only" id="size">
      <input type="hidden" name="item[size_type]" id="item_size_type" value="">
      <label for="item_size">Size</label>
      <select class="form-control" name="item[structured_size]" id="item_structured_size"></select>
    </div>
    <div class="form-group">
      <%= f.label :condition %>
      <div class="condition-radios">
        <div class="radio-inline">
          <%= f.radio_button :condition, :brand, checked: @item.brand? %>
          <%= f.label :condition, value: "brand" do %>
            <span>새제품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :almost, checked: @item.almost? %>
          <%= f.label :condition, value: "almost" do %>
            <span>거의신품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :used, checked: @item.used? %>
          <%= f.label :condition, value: "used" do %>
            <span>중고품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :broken, checked: @item.broken? %>
          <%= f.label :condition, value: "broken" do %>
            <span>고장/깨짐</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <%= f.label :location %>
      <p class="help-block map-help"><i class="fa fa-map-marker"></i>&nbsp;판매자의 위치정보는 동/읍 단위까지만 입력하면 됩니다.</p>
      <div id="map" class="map"></div>
      <%= f.text_field :location, class: "form-control geocomplete", autocomplete: :off %>
      <p class="help-block info-text">
        <i class="fa fa-lock"></i>
        입력하신 위치정보는 공유되지 않습니다.
      </p>
      <%= f.hidden_field :latitude, data: { geo: "lat" } %>
      <%= f.hidden_field :longitude, data: { geo: "lng" } %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <div class="credits-field-holder">
        <%= f.label :price, class: "sr-only" do %>
          <span>가격 (나누고 포인트)</span>
        <% end %>
        <label class="sr-only" for="exampleInputAmount">단위 (나누고 포인트)</label>
        <div class="input-group">
          <span class="input-group-addon">
            <%= image_tag "g-button.png", class: "go-symbol", alt: "나누고 단추", size: "15x15" %>
          </span>
          <%= f.text_field :price, class: "form-control", placeholder: "포인트" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>배송옵션</label>
      <br>
      <div class="fulfillment-options-holder">
        <%= f.collection_check_boxes :fulfillment_option_ids, FulfillmentOption.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <div class="checkbox">
              <%= b.label { b.check_box + b.text } %>
            </div>
          </div>
        <% end %>
        <p class="help-block standard-shipping info-text">
          <i class="fa fa-krw"></i>
          배송비는 구매자가 부담합니다.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 text-center">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "물건을 올립니다", class: "btn btn-primary btn-full-width btn-lg submit-btn" %>
  </div>
<% end %>

<%= cloudinary_js_config %>
