<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4 col-md-offset-2 col-sm-6">
    <div class="form-group">
      <label>Photo</label>
      <div class="photo-upload-container">
        <div class="dummy"></div>
        <div class="photo-container-box">
          <div class="photo-container" data-i="1">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:first_image, return_delete_token: true) %>
            </div>
          </div>
          <div class="photo-container" data-i="2">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden"><p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:second_image, return_delete_token: true) %>
            </div>
          </div>
          <div class="photo-container" data-i="3">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:third_image, return_delete_token: true) %>
            </div>
          </div>
          <div class="photo-container" data-i="4">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:fourth_image, return_delete_token: true) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "세상에서 제일 멋진 물건", maxlength: "40", size: "40" %>
    </div>
    <div class="form-group" id="departments">
      <%= f.label :category %>
      <%= f.collection_select :category, Category.all, :id, :name, { include_blank: '전체 카테고리' }, { class: "form-control" } %>
    </div>
    <div class="form-group sr-only" id="categories">
      <%= f.label :category %>
      <%= f.grouped_collection_select :category, Category.all, :children, :name, :id, :title, { include_blank: '전체 코스', selected: params[:category] }, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :desc %>
      <%= f.text_area :desc, class: "form-control", rows: 6, placeholder: "물건에 대한 간략한 설명을 적어주세요." %>
    </div>
    <div class="form-group">
      <%= f.label :condition %>
      <div class="condition-radios">
        <div class="radio-inline">
          <%= f.radio_button :condition, :brand, checked: @item.brand? %>
          <%= f.label :condition, value: "brand" do %>
            <span>새제품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :almost, checked: @item.almost? %>
          <%= f.label :condition, value: "almost" do %>
            <span>거의신품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :used, checked: @item.used? %>
          <%= f.label :condition, value: "used" do %>
            <span>중고품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :broken, checked: @item.broken? %>
          <%= f.label :condition, value: "broken" do %>
            <span>고장/깨짐</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <%= f.label :position %>
      <%= f.text_field :position, class: "form-control", placeholder: "서울특별시 종로구 / 경기도 성남시 분당구", autocomplete: :off %>
      <p class="help-block info-text">
        <i class="fa fa-lock"></i>
        위치정보는 시/군/구 단위까지만 입력해 주세요.
      </p>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <div class="credits-field-holder">
        <%= f.label :price, class: "sr-only" do %>
          <span>가격 (나누고 포인트)</span>
        <% end %>
        <label class="sr-only" for="exampleInputAmount">단위 (나누고 포인트)</label>
        <div class="input-group">
          <i class="yrd-symbol input-group-addon"></i>
          <%= f.text_field :price, class: "form-control", placeholder: "포인트" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>배송옵션</label>
      <br>
      <div class="fulfillment-options-holder">
        <%= f.collection_check_boxes :fulfillment_option_ids, FulfillmentOption.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
        <p class="help-block standard-shipping info-text">
          <i class="fa fa-dollar"></i>
          배송비는 구매자가 부담합니다.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 text-center">
    <button class="btn btn-primary btn-full-width btn-lg submit-btn" type="submit">물건을 올립니다</button>
  </div>
<% end %>
