<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4 col-md-offset-2 col-sm-6">
    <div class="form-group">
      <label>Photo</label>
      <div class="photo-upload-container empty">
        <div class="dummy"></div>
        <div class="photo-container-box">
          <div class="photo-container" data-i="1">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:first_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
          <div class="photo-container hidden" data-i="2">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden"><p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:second_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
          <div class="photo-container hidden" data-i="3">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:third_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
          <div class="photo-container hidden" data-i="4">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="select-photo-text">
                <i class="fa fa-picture-o"></i>
                <p>Select Photo</p>
              </div>
              <div class="spinner hidden">
                <p>Uploading…</p>
                <img class="photo-spinner" src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
              </div>
              <div class="error hidden">
                <i class="fa fa-warning text-warning"></i>
                <p>
                  <span class="text-warning">Server error!</span>
                  <br>
                  <span>Please try again.</span>
                </p>
              </div>
              <div class="preview"></div>
              <%= f.cl_image_upload(:fourth_image,
                        :tags => "directly_uploaded",
                        :crop => :fill, :width => 640, :height => 640,
                        :eager => [{ :crop => :fill, :width => 640, :height => 640 }],
                        :html => { :accept => "image/*", :class => "transparent-image-upload" }
                       ) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "세상에서 제일 멋진 물건", maxlength: "40", size: "40" %>
    </div>
    <div class="form-group" id="departments">
      <%= f.label :category %>
      <%= f.collection_select :category, Category.all, :id, :name, { include_blank: '전체 카테고리' }, { class: "form-control" } %>
    </div>
    <div class="form-group sr-only" id="categories">
      <%= f.label :category %>
      <%= f.grouped_collection_select :category, Category.all, :children, :name, :id, :title, { include_blank: '전체 코스', selected: params[:category] }, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :desc %>
      <%= f.text_area :desc, class: "form-control", rows: 6, placeholder: "물건에 대한 간략한 설명을 적어주세요." %>
    </div>
    <div class="form-group">
      <%= f.label :condition %>
      <div class="condition-radios">
        <div class="radio-inline">
          <%= f.radio_button :condition, :brand, checked: @item.brand? %>
          <%= f.label :condition, value: "brand" do %>
            <span>새제품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :almost, checked: @item.almost? %>
          <%= f.label :condition, value: "almost" do %>
            <span>거의신품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :used, checked: @item.used? %>
          <%= f.label :condition, value: "used" do %>
            <span>중고품</span>
          <% end %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :condition, :broken, checked: @item.broken? %>
          <%= f.label :condition, value: "broken" do %>
            <span>고장/깨짐</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <%= f.label :position %>
      <p class="help-block map-help">Drag and drop the<i class="fa fa-map-marker"></i> to your location</p>
      <div id="map" class="map"></div>
      <%= f.text_field :location, class: "form-control geocomplete", autocomplete: :off %>
      <p class="help-block info-text">
        <i class="fa fa-lock"></i>
        입력하신 위치정보는 공유되지 않습니다.
      </p>
      <%= f.hidden_field :latitude, data: { geo: "lat" } %>
      <%= f.hidden_field :longitude, data: { geo: "lng" } %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <div class="credits-field-holder">
        <%= f.label :price, class: "sr-only" do %>
          <span>가격 (나누고 포인트)</span>
        <% end %>
        <label class="sr-only" for="exampleInputAmount">단위 (나누고 포인트)</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-gg fa-fw"></i></span>
          <%= f.text_field :price, class: "form-control", placeholder: "포인트" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>배송옵션</label>
      <br>
      <div class="fulfillment-options-holder">
        <%= f.collection_check_boxes :fulfillment_option_ids, FulfillmentOption.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <div class="checkbox">
              <%= b.label { b.check_box + b.text } %>
            </div>
          </div>
        <% end %>
        <p class="help-block standard-shipping info-text">
          <i class="fa fa-krw"></i>
          배송비는 구매자가 부담합니다.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 text-center">
    <button class="btn btn-primary btn-full-width btn-lg submit-btn" type="submit">물건을 올립니다</button>
  </div>
<% end %>

<%= cloudinary_js_config %>
<script type="text/javascript">
$(function() {

  // activate popovers
  $('[data-toggle="popover"]').popover();

  // Department / Subcategory filter
  (function() {
    var $categoriesGroup = $('#categories');
    var $categories = $categoriesGroup.find('select');

    var categories = {"Women":["Clothing","Accessories","Shoes","Jewelry","Bags \u0026 Wallets","Juniors' Clothing","Other"],"Men":["Clothing","Accessories","Shoes","Jewelry","Bags \u0026 Wallets","Other"],"Kids":["Girls' Clothing","Boys' Clothing","Girls' Accessories","Boys' Accessories","Girls' Shoes","Boys' Shoes","Activities \u0026 Toys","Movies","Books","Video Games","Other"],"Baby":["Clothing \u0026 Accessories","Strollers \u0026 Carriers","Activities \u0026 Toys","Bathing \u0026 Grooming","Health \u0026 Safety","Nursery","Other"],"Home":["Kitchen \u0026 Dining","Bedding \u0026 Bath","Appliances","Furniture \u0026 Décor","Luggage","Pet Supplies","Storage \u0026 Organization","Lawn \u0026 Garden","Patio","Other"],"Health & Beauty":["Bath \u0026 Body","Personal Care","Diet \u0026 Nutrition","Cosmetics","Fragrances","Hair Care","Other"],"Sports & Outdoor":["Camping \u0026 Outdoor","Exercise \u0026 Fitness","Cycling","Sports Equipment","Coolers \u0026 Water Bottles","Other"],"Electronics & Games":["Audio \u0026 iPods","Phones \u0026 Accessories","Photo \u0026 Video Cameras","Computers \u0026 Tablets","TV \u0026 Home Theater","Board Games","Video Games","Software","Other"],"Hobbies & DIY":["Arts \u0026 Crafts","DIY \u0026 Kits","Collectibles","Sewing \u0026 Knitting","Other"],"Movies & Music":["Movies \u0026 TV","CDs \u0026 Vinyl","Musical Instruments","Other"],"Books":["Fiction","Nonfiction","Cookbooks","Textbooks","Other"],"Unisex":["Clothing","Accessories","Shoes","Jewelry","Bags \u0026 Wallets","Other"],"Tools":["Power \u0026 Hand Tools","Hardware","Automotive","Garden Tools","Other"]};
    var categoriesFormatted = {"Women":["Women \u003e Clothing","Women \u003e Accessories","Women \u003e Shoes","Women \u003e Jewelry","Women \u003e Bags \u0026 Wallets","Women \u003e Juniors' Clothing","Women \u003e Other"],"Men":["Men \u003e Clothing","Men \u003e Accessories","Men \u003e Shoes","Men \u003e Jewelry","Men \u003e Bags \u0026 Wallets","Men \u003e Other"],"Kids":["Kids \u003e Girls' Clothing","Kids \u003e Boys' Clothing","Kids \u003e Girls' Accessories","Kids \u003e Boys' Accessories","Kids \u003e Girls' Shoes","Kids \u003e Boys' Shoes","Kids \u003e Activities \u0026 Toys","Kids \u003e Movies","Kids \u003e Books","Kids \u003e Video Games","Kids \u003e Other"],"Baby":["Baby \u003e Clothing \u0026 Accessories","Baby \u003e Strollers \u0026 Carriers","Baby \u003e Activities \u0026 Toys","Baby \u003e Bathing \u0026 Grooming","Baby \u003e Health \u0026 Safety","Baby \u003e Nursery","Baby \u003e Other"],"Home":["Home \u003e Kitchen \u0026 Dining","Home \u003e Bedding \u0026 Bath","Home \u003e Appliances","Home \u003e Furniture \u0026 Décor","Home \u003e Luggage","Home \u003e Pet Supplies","Home \u003e Storage \u0026 Organization","Home \u003e Lawn \u0026 Garden","Home \u003e Patio","Home \u003e Other"],"Health & Beauty":["Health \u0026 Beauty \u003e Bath \u0026 Body","Health \u0026 Beauty \u003e Personal Care","Health \u0026 Beauty \u003e Diet \u0026 Nutrition","Health \u0026 Beauty \u003e Cosmetics","Health \u0026 Beauty \u003e Fragrances","Health \u0026 Beauty \u003e Hair Care","Health \u0026 Beauty \u003e Other"],"Sports & Outdoor":["Sports \u0026 Outdoor \u003e Camping \u0026 Outdoor","Sports \u0026 Outdoor \u003e Exercise \u0026 Fitness","Sports \u0026 Outdoor \u003e Cycling","Sports \u0026 Outdoor \u003e Sports Equipment","Sports \u0026 Outdoor \u003e Coolers \u0026 Water Bottles","Sports \u0026 Outdoor \u003e Other"],"Electronics & Games":["Electronics \u0026 Games \u003e Audio \u0026 iPods","Electronics \u0026 Games \u003e Phones \u0026 Accessories","Electronics \u0026 Games \u003e Photo \u0026 Video Cameras","Electronics \u0026 Games \u003e Computers \u0026 Tablets","Electronics \u0026 Games \u003e TV \u0026 Home Theater","Electronics \u0026 Games \u003e Board Games","Electronics \u0026 Games \u003e Video Games","Electronics \u0026 Games \u003e Software","Electronics \u0026 Games \u003e Other"],"Hobbies & DIY":["Hobbies \u0026 DIY \u003e Arts \u0026 Crafts","Hobbies \u0026 DIY \u003e DIY \u0026 Kits","Hobbies \u0026 DIY \u003e Collectibles","Hobbies \u0026 DIY \u003e Sewing \u0026 Knitting","Hobbies \u0026 DIY \u003e Other"],"Movies & Music":["Movies \u0026 Music \u003e Movies \u0026 TV","Movies \u0026 Music \u003e CDs \u0026 Vinyl","Movies \u0026 Music \u003e Musical Instruments","Movies \u0026 Music \u003e Other"],"Books":["Books \u003e Fiction","Books \u003e Nonfiction","Books \u003e Cookbooks","Books \u003e Textbooks","Books \u003e Other"],"Unisex":["Unisex \u003e Clothing","Unisex \u003e Accessories","Unisex \u003e Shoes","Unisex \u003e Jewelry","Unisex \u003e Bags \u0026 Wallets","Unisex \u003e Other"],"Tools":["Tools \u003e Power \u0026 Hand Tools","Tools \u003e Hardware","Tools \u003e Automotive","Tools \u003e Garden Tools","Tools \u003e Other"]};
    var sizes = {"Women > Clothing":{"tops":["XXS","XS","S","M","L","XL","1X","2X","3X","4X"],"bottoms_and_dresses":["00","0","2","4","6","8","10","12","14","16","18","20","22","24","26","28","30"],"intimates":["32A","32B","32C","32D","32DD","34A","34B","34C","34D","34DD","36A","36B","36C","36D","36DD","38A","38B","38C","38D","38DD","40A","40B","40C","40D","40DD","42A","42B","42C","42DD","44A","44B","44C","44D","44DD"]},"Women > Shoes":{"":["5","5.5","6","6.5","7","7.5","8","8.5","9","9.5","10","10.5","11","11.5","12","12.5"]},"Women > Juniors' Clothing":{"tops":["XS","S","M","L","XL","XXL"],"bottoms_and_dresses":["0","1","3","5","7","9","11","13","15","17","19"]},"Men > Clothing":{"tops":["XS","S","M","L","XL","XXL","XXXL"],"bottoms":["26","28","30","32","34","36","38","40","42","44","46","48","50"]},"Men > Shoes":{"":["6","6.5","7","7.5","8","8.5","9","9.5","10","10.5","11","11.5","12","12.5","13","13.5","14","14.5","15","15.5","16"]},"Kids > Girls' Clothing":{"tops":["4","5","6","7","8","10","12","14","16","18"],"bottoms_and_dresses":["4","5","6","7","8","10","12","14","16","18"]},"Kids > Boys' Clothing":{"tops":["4","5","6","7","8","10","12","14","16","18"],"bottoms":["4","5","6","7","8","10","12","14","16","18"]},"Kids > Girls' Shoes":{"":["10","11","12","13","13.5","1","1.5","2","2.5","3","3.5","4","4.5","5","5.5","6"]},"Kids > Boys' Shoes":{"":["10","11","12","13","13.5","1","1.5","2","2.5","3","3.5","4","4.5","5","5.5","6"]},"Baby > Clothing & Accessories":{"":["0-3 mo","3-6 mo","6-9 mo","9-12 mo","12-18 mo","18-24 mo","2T","3T"]},"Unisex > Clothing":{"tops":["XXS","XS","S","M","L","XL","1X","2X","3X","4X"],"bottoms":["XXS","XS","S","M","L","XL","1X","2X","3X","4X"]},"Unisex > Shoes":{"":["6","6.5","7","7.5","8","8.5","9","9.5","10","10.5","11","11.5","12","12.5","13","13.5","14","14.5","15","15.5","16"]}};
    var sizeAliases = {"Women > Clothing":{"bottoms_and_dresses":{"00":"XXS","0":"XS","2":"S","4":"S","6":"M","8":"M","10":"L","12":"L","14":"XL","16":"1X","18":"1X","20":"2X","22":"2X","24":"3X","26":"3X","28":"4X","30":"4X"}},"Women > Juniors' Clothing":{"bottoms_and_dresses":{"0":"XS","1":"XS","3":"S","5":"S","7":"M","9":"M","11":"L","13":"L","15":"XL","17":"XL","19":"XXL"}},"Men > Clothing":{"bottoms":{"26":"XS","28":"S","30":"S","32":"M","34":"M","36":"L","38":"L","40":"XL","42":"XL","44":"XXL","46":"XXL","48":"XXXL","50":"XXXL"}},"Kids > Girls' Clothing":{"tops":{"4":"XS","5":"XS","6":"S","7":"M","8":"M","10":"M","12":"L","14":"L","16":"XL","18":"XL"},"bottoms_and_dresses":{"4":"XS","5":"XS","6":"S","7":"M","8":"M","10":"M","12":"L","14":"L","16":"XL","18":"XL"}},"Kids > Boys' Clothing":{"tops":{"4":"XS","5":"XS","6":"S","7":"M","8":"M","10":"M","12":"L","14":"L","16":"XL","18":"XL"},"bottoms":{"4":"XS","5":"XS","6":"S","7":"M","8":"M","10":"M","12":"L","14":"L","16":"XL","18":"XL"}}};
    var sizeTypeNames = {
      bottoms : 'Bottoms',
      tops : 'Tops',
      bottoms_and_dresses : 'Bottoms & Dresses',
      intimates : 'Intimates'
    };

    var $size = $('#size');

    $('#departments select').change(function() {
      departmentChanged($(this).val());
    });

    var updateSize = function(category) {
      // first, see if this category has a size
      var categories_with_size = ["Women > Clothing", "Women > Shoes", "Women > Juniors' Clothing", "Men > Clothing", "Men > Shoes", "Kids > Girls' Clothing", "Kids > Boys' Clothing", "Kids > Girls' Shoes", "Kids > Boys' Shoes", "Baby > Clothing & Accessories", "Unisex > Clothing", "Unisex > Shoes"];
      var hasSize = categories_with_size.indexOf(category) != -1;
      $size.toggleClass('sr-only', !hasSize);

      if(hasSize) {
        // it does, so put the right stuff in the select
        var sizeSelect = $size.find('select');
        sizeSelect.empty();
        _.keys(sizes[category]).forEach(function(key) {
          if(key != '') {
            var displayKey = sizeTypeNames[key] || key;
            sizeSelect.append($('<option>').text(displayKey).attr('disabled', true));
          }

          sizes[category][key].forEach(function(size, i) {
            var displaySize = size;
            if(sizeAliases[category] && sizeAliases[category][key] && sizeAliases[category][key][i]) {
              displaySize = size + ' (' + sizeAliases[category][key][i] + ')';
            }
            sizeSelect.append(
              $('<option>').text(displaySize).val(size).data({type: key})
            );
          });
          sizeSelect.change(function() {
            var type = $(this.options[this.selectedIndex]).data('type');
            $('#posting_size_type').val(type);
          });
        });

        // initialize the hidden field
        var selectEl = sizeSelect.get()[0];
        var selectedOption = selectEl.options[selectEl.selectedIndex];
        var initialType = $(selectedOption).data('type');
        $('#posting_size_type').val(initialType);
      } else {
        $size.find('select').empty();
        $('#posting_size_type').val(null);
      }
    }


    function departmentChanged(department) {
      if(department && categories[department]) {
        $categoriesGroup.removeClass('sr-only');
        $size.addClass('sr-only');
        $categories
          .empty()
          .append($('<option>').text('Select a category').attr('disabled', true))
          .change(function() {
            updateSize(this.value);
          });

        categories[department].forEach(function(option, i) {
          var fullOption = categoriesFormatted[department][i];
          $categories.append($('<option>').text(option).val(fullOption));
        });

        updateSize($categories.val());
      } else {
        $categoriesGroup.addClass('sr-only');
        $size.addClass('sr-only');
      }
    }

    updateSize($categories.val());
  }());

  // form validations

  $.fn.validate = function (validation, valid, invalid) {
    var $this = $(this);
    if (validation.call($this)) {
      return true;
    } else {
      $this.addClass('invalid');
      $this.on('focus click', function () { $this.removeClass('invalid'); });
      return false;
    }
  };

  $('#posting_price').blur(function() {
    return $(this).validate(function(){ return parseFloat($(this).val()) % 1 == 0 })
  });

  $('#new_posting, .edit_posting').submit(function () {
    var valid = true;
    valid = $('.photo-container').validate(function(){ return $('#posting_photo_1_url').data('valid') === true; }) && valid;
    valid = $('#posting_title').validate(function(){ return $(this).val().length > 0; }) && valid;
    valid = $('#posting_location').validate(function(){ return $('#posting_location').val().length > 0 && $('#posting_display_location').val().length > 0; }) && valid;
    valid = $('#posting_price').validate(function(){ var amount = parseInt($(this).val()); return amount >= 0 && amount <= 1000; }) && valid;
    valid = $('.condition-radios').validate(function(){ return $('[name="posting[condition]"]:checked').val(); }) && valid;
    valid = $('#posting_department').validate(function(){ return $('#posting_department').val() != '' }) && valid;
    valid = $('#posting_subcategory').validate(function(){ return $('#posting_subcategory').val() != 'Select a category' }) && valid;
    valid = $('.fulfillment-options-holder').validate(function(){ return $('input:checked[name="posting[fulfillment_options][]"]').size() != 0 }) && valid;

    // NOTE a size will always be selected - validation not really needed
    if(!$('#size').hasClass('sr-only')) {
      valid = $('#size select').validate(function() { return !!$(this).val() } ) && valid;
    }

    //if (!valid) $(document.body).scrollTop($('.invalid').first().offset().top - 30);
    return valid;
  });

  //
  // image upload handling
  //

  // note we don't use jquery hide()/show() because it overrides display

  var uploads = [];

  $('.cloudinary-fileupload')
    .on('fileuploadsend', function(e, data) {
      var $el = $(e.target).closest('.photo-container');
      $el.find('.select-photo-text').addClass('hidden');
      $el.find('.spinner').removeClass('hidden');
      $el.find('.error').addClass('hidden');
    })
    .on('error', function(e, data) {
      console.log('cloud error:', e, data);
      var $el = $(e.target).closest('.photo-container');
      $el.find('.spinner').addClass('hidden');
      $el.find('.error').removeClass('hidden');
    })
    .on('cloudinarydone', function(e, data) {
      var $el = $(e.target).closest('.photo-container');
      $el.find('.spinner').addClass('hidden');

      // note 1-based index (really image names)
      var url = $.cloudinary.url(data.result.public_id, {
        format: 'jpg', crop: 'fill', width: 600, height: 600, class: 'img-responsive'
      });
      uploads[$el.data('i') - 1] = url;

      updateUploadPlaceholders();

      return true;
    });
  $('.remove-button').on('click', function(e) {
    var $el = $(e.target).closest('.photo-container');
    // a little bit of animation here... first fade out...
    $el.animate({opacity:0}, 500, function() {
      // remember - 1-based index
      var i = $el.data('i') - 1;
      uploads.splice(i, 1);
      updateUploadPlaceholders();
      // remove the opacity property now
      // OK because updateUploadPlaceholders() is instant (no transition)
      $el.css({opacity:''});
    })
  });

  function updateUploadPlaceholders() {
    var els = $('.photo-container');
    els.each(function(i, el) {
      var $el = $(el);

      // the cloudinary hidden field
      // WARNING this exploits undocumented behavior of cloudinary.js
      // https://github.com/cloudinary/cloudinary_js/blob/master/js/jquery.cloudinary.js
      var cloudinaryHiddenFieldName = $el.find('.transparent-image-upload').data('cloudinary-field');
      var cloudinaryHiddenField = $('input[name="' + cloudinaryHiddenFieldName + '"]');

      if(i < uploads.length) {
        var image = uploads[i];

        // update/add cloudinary hidden input
        if (cloudinaryHiddenField.length > 0) {
          cloudinaryHiddenField.val(image);
        } else {
          $('<input/>').attr({type: "hidden", name: cloudinaryHiddenFieldName}).val(image).appendTo($el.closest('form'));
        }

        // update DOM
        $el.find('.transparent-image-upload').data('valid', true);
        $el.find('.photo-upload').addClass('photo');
        $el.find('.select-photo-text').addClass('hidden');
        $el.find('.spinner').addClass('hidden');
        $el.find('.error').addClass('hidden');
        $el.find('.preview').html($('<img/>').attr({src: image, 'class': 'img-responsive'}));
      } else {
        // kill cloudinary hidden input
        cloudinaryHiddenField.remove();

        // update DOM
        $el.addClass('hidden');
        // reset states for the next time its shown
        $el.find('.transparent-image-upload').data('valid', false);
        $el.find('.photo-upload').removeClass('photo');
        $el.find('.select-photo-text').removeClass('hidden');
        $el.find('.spinner').addClass('hidden');
        $el.find('.error').addClass('hidden');
        $el.find('.preview').empty();
      }
    });

    if(uploads.length < 4) {
      // make sure the next image to upload is visible
      $(els[uploads.length]).removeClass('hidden');
    }

    $('.photo-upload-container').toggleClass('empty', uploads.length==0);
  }

  //
  // location
  //

  var displayLocationFromGeocode = function (geo) {
    var parts = [];
    geo.address_components.forEach(function (c) {
      switch (c.types[0]) {
        case 'locality':
          parts.push(c.long_name);
          break;
        case 'administrative_area_level_1':
          parts.push(c.short_name);
          break;
      }
    });
    return parts.join(', ');
  };

  var $geoInput = $('.geocomplete');
  var zoom = 13;
  $geoInput
    .geocomplete({
      location: ', ',
      map: '.map',
      markerOptions: {
        draggable: true
      },
      mapOptions: {
        disableDefaultUI: true,
        overviewMapControl: false,
        panControl: false,
        rotateControl: false,
        scaleControl: false,
        scrollwheel: true,
        streetViewControl: false,
        zoom: zoom,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
        }
      }
    }).on('geocode:result', function (e, result) {
      $geoInput.change(); // to trigger validation
      $geoInput.geocomplete('map').setZoom(zoom);
      $('.lat-field').val(result.geometry.location.lat());
      $('.lon-field').val(result.geometry.location.lng());
      $('.display-location-field').val(displayLocationFromGeocode(result));
      zoom = $geoInput.geocomplete('map').getZoom();
    }).on('geocode:dragged', function (e, location) {
      zoom = $geoInput.geocomplete('map').getZoom();
      $geoInput.blur();
      $geoInput.geocomplete('find', location.toUrlValue());
    });

  updateUploadPlaceholders();
});
</script>
