<%= link_to item_path(item), class: "card posting-container item-container posting" do %>
  <div class="image">
    <%= image_tag item.first_image %>
    <% if Time.current.beginning_of_day <= item.created_at && Time.current.end_of_day >= item.created_at %>
      <div class="status">
        <i class="icon-just_in_tag"></i>
        <span>신규등록</span>
      </div>
    <% end %>
  </div>
  <section class="details">
    <h4 class="title"><%= item.desc %></h4>
    <h4 class="price-container">
      <%= image_tag "g-button.png", class: "go-symbol", alt: "나누고 단추", size: "20x20" %>
      <span class="price"><%= item.price.to_s %></span>
    </h4>
  </section>
  <div class="badge hidden"></div>
<% end %>
