<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <nav class="signed-out">
    <ul class="navbar-nav navbar-right">
      <li class="hamburger visible-xs">
        <a data-toggle="hamburger">
          <%= image_tag "logo.png", alt: "나누고" %>
        </a>
      </li>
      <li class="logo">
        <a href="/">
          <%= image_tag "logo.png", alt: "나누고" %>
        </a>
      </li>
      <li class="search">
        <form class="search" action="/postings" accept-charset="UTF-8" method="get">
          <i class="icon-search"></i>
          <input type="search" name="q" id="q" placeholder="필요한 물건 찾기">
        </form>
      </li>
      <% unless user_signed_in? %>
        <li class="hidden-xs">
          <a href="#services">서비스</a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="#download" class="dispatch-mobile-conversion">다운로드</a>
        </li>
        <li class="login hidden-xs">
          <a href="#" data-target="#login-modal" data-toggle="modal">로그인</a>
        </li>
        <li class="signup hidden-xs">
          <a href="#" data-target="#signup-modal" data-toggle="modal" class="btn btn-outline">회원가입</a>
        </li>
        <li class="signup hidden-sm hidden-md hidden-lg">
          <a href="#" data-target="#signup-modal" data-toggle="modal">회원가입</a>
        </li>
        <li class="yrd-balance">
          <a href="#" data-target="#help-yrd-modal" data-toggle="modal">
            <%= image_tag "g-button.png", class: "go-symbol", alt: "나누고 단추", size: "20x20" %>
            5,000
          </a>
        </li>
      <% else %>
        <li class="give-button hidden-xs">
          <%= link_to "나누기", post_path %>
        </li>
        <li class="postings-button hidden-xs">
          <%= link_to "상품보기", postings_path %>
        </li>
        <li class="dropdown user-details hidden-xs">
          <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= image_tag avatar_icon(current_user, 40) %>
            <span class="hidden-xs"><%= current_user.username %>&nbsp;</span>
            <span class="caret"></span>
          </a>
          <span class="spacer">&nbsp;&nbsp;</span>
          <a class="yrd-balance" data-target="#help-yrd-modal" data-toggle="modal">
            <!-- <i class="yrd-symbol"></i> -->
            <%= image_tag "g-button.png", class: "go-symbol", alt: "나누고 단추" %>
            <span class="hidden-xs"><%= current_user.point.to_s %></span>
            <span class="visible-xs-inline">25</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="visible-xs">
              <%= link_to "나누기", post_path %>
            </li>
            <li class="visible-xs">
              <%= link_to "상품보기", postings_path %>
            </li>
            <li>
              <a href="#">프로필 설정</a>
            </li>
            <li>
              <a href="#">친구 초대하기</a>
            </li>
            <li>
              <a href="#">계정설정</a>
            </li>
            <li>
              <a href="#">프로모션 코드</a>
            </li>
            <li>
              <a href="#">도움말</a>
            </li>
            <li>
              <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
