<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal">
  <div id="login">
    <div class="login-wrapper">
      <header>
        <h1>로그인</h1>
        <h4>돌아오신 것을 환영합니다</h4>
      </header>
      <section class="social-connect">
        <ul>
          <li class="facebook">
            <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
              <span>Facebook 계정으로 로그인</span>
            <% end %>
          </li>
        </ul>
      </section>
      <section class="sign-in">
        <div class="seperator">
          <hr/>
          <span>또는</span>
        </div>
        <div id="js-error-messages" class="blind">
        </div>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "login-box"}, :format => :json, :remote => true, authenticity_token: true) do |f| %>
          <div class="fields">
            <div class="form-group">
              <%= f.email_field :email, placeholder: "Email Address", autofocus: true, autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
              <%= link_to "잃어버렸나요?", new_user_password_path, class: "forgot-password" %>
            </div>
          </div>
          <div class="login">
            <%= f.submit "로그인" %>
          </div>
        <% end %>
      </section>
      <section class="text-center">
        <span>아직 nanuGO 계정이 없나요? <a href="#" class="js-modal-signup"> 계정 만들기</a> </span>
      </section>
    </div>
  </div>
</div>
