<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <meta content="width=device-width, initial-scale=1" property="viewport">
  <meta content="176721656035687" property="fb:app_id">
  <meta name="apple-itunes-app" content="TODO: 넣어야 합니다.">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= display_meta_tags default_meta_tags %>
  <%= csrf_meta_tags %>
  <script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/geocomplete/1.6.5/jquery.geocomplete.js"></script>
</head>
<body id="<%= yield :body_id %>" class="<%= controller_name %> <%= action_name %>" data-page="<%= body_data_page %>">
  <div class="clip">
    <div id="wrap" class="<%= yield :footer_class %>">
      <%= render 'layouts/header' %>
      <div id="page-content">
        <%= yield %>
        <%= render 'shared/progress' %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <%= render 'layouts/login' %>
  <%= render 'layouts/signup' %>
  <%= render 'layouts/getapp' %>
  <%= render 'layouts/google_analytics' %>
	<%= yield :custom_script %>
</body>
</html>
