<!DOCTYPE html>
<html lang="ko">
<%= render "layouts/head" %>
<body id="<%= yield :body_id %>" class="<%= controller_name %> <%= action_name %>" data-page="<%= body_data_page %>">
  <div class="clip">
    <div id="wrap" class="<%= yield :footer_class %>">
      <%= render 'layouts/header' %>
      <div id="page-content">
        <%= yield %>
        <%= render 'shared/progress' %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <%= render 'layouts/login' %>
  <%= render 'layouts/signup' %>
  <%= render 'layouts/confirmation' %>
  <%= render 'layouts/getapp' %>
  <%= render 'layouts/google_analytics' %>
	<%= yield :custom_script %>
</body>
</html>
